<?xml version="1.0" encoding="UTF-8"?>
<config>
	<info>
		<name>coldfunctional</name>
		<label>ColdFunctional</label>
		<id>26CEEBBE-5817-47E6-A1f1-751D6C29847B</id>
		<type>server</type>
		<version>@@version@@</version>
		<created>@@created@@</created> 
		<author>Colby Litnak</author>
		<email>colby@litnak.com</email>
		<category>Core</category>
		<support>https://github.com/clitnak/coldfunctional/issues</support>
		<description><![CDATA[
			Adds more functional programming language support, such as map(), reduce(), etc. and Functions
			that work with query objects.
			]]>
		</description>
		<mailinglist></mailinglist>
		<documentation>http://www.litnak.com/coldfunctional/</documentation>
		<image>http://www.litnak.com/coldfunctional/img/logo.png</image>
		<railo_version>4.1.0.0</railo_version>
		<paypal />
		<packaged-by>Colby Litnak</packaged-by>
		<video />
	</info>
</config>

